.commentItem-Details{
  line-height: 1.5em;
  left: 20px;
  position: relative;
  height: 50px;
}

.commentItem-Autor{
    font-weight: bold;
}

.commentItem-Fecha{
    font-size: 11px;
    color: #a2a2a2;
    line-height: 1.5em;
    margin-right: 9px;
}

.commentItem-Text{
    margin-top: 6px;
    margin-top: 3px;
}

.commentItem-Container{
   margin: 7px 14px 7px 0px;
}

.commentBoton{
  background-color:#77AAEF !important;
  border-color: #77AAEF !important;
  float: right;
  margin: 20px 0px 20px 0px;
}

.commentItem-imgAutor{
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: -1px;
  height: 50px;
  width: 50px;
  float: left
}