.product-item {
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;

  float: left;
  height: 280px;
  margin: 15px;
  position: relative;
  width: 230px;
  border: 2px solid #e44d26;
  text-align: center;
}

.product-item-header {
    text-align: center;
    font-size: 25px;
    height: 40px;
    background: #e44d26;
    color: white;
}

.product.item-body {

}