@{
    var nombreTienda = @Session["Tienda_Nombre"];
}

<div>
    <div id="divCategorias">
        <h1>PASO 2: SELECCIONAR CATEGORÍA</h1>
        <div id="categorias">
        </div>

        <div id="categoriaSeleccionada">
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#categorias').load("@Url.Action("MostrarCategorias", "Product")")
    })

    seleccionarCategoriaSimple = function (catID) {
        $("#categoriaSeleccionada").html("Categoria seleccionada: #" + catID);
        var datosProducto = JSON.parse(localStorage.getItem("DatosProducto"));
        if (datosProducto) {
            datosProducto.CatID = catID;
            localStorage.setItem("DatosProducto", JSON.stringify(datosProducto));
        } else {
            datosProducto = {};
            datosProducto.CatID = catID;
            localStorage.setItem("DatosProducto", JSON.stringify(datosProducto));
        }
        $("#warningAttr").hide();

        $("#atributos").html("Aca van los atributos de la cat " + catID);
        $catSeleccionada = $("#item-" + catID);
        var ancestros = $catSeleccionada.data("ancestros");

        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerJsonAtributosCategoria", "Product")",
            data: {
                catId: catID,
                ancestros: ancestros
            },
            accept: 'application/json',
            success: function (data) {
                console.log(data);
                $("#atributos").html(data.Atributos);
            },
            error: function (error) {
                console.warn(error);
            }
    });
        
    }
</script>