@{
    var nombreTienda = @Session["Tienda_Nombre"];
}

<div>
    <div id="divCategorias">
        <h1>PASO 2: SELECCIONAR CATEGORÍA</h1>
        <div id="categorias">
        </div>

        <div id="categoriaSeleccionada">
            
        </div>
        <div>
            <button class="btn btn-default" style="float:right" onclick="datosCat()">Siguiente</button>
            <button class="btn btn-default" style="float:left" onclick="volverProd('datosProducto')">Anterior</button>
        </div>
        
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#categorias').load("@Url.Action("MostrarCategorias", "Product")")
    })
</script>