<section id="seccion-atributos">
    <h1>PASO 3: INGRESAR ATRIBUTOS DEL PRODUCTO</h1>

    <section id="content-atributos" data-request-url="@Url.Action("obtenerJsonAtributosCategoria", "Product")">
        Seleccione una categoría.
    </section>
    <div>
        <button class="btn btn-default" style="float:right" onclick="datosAtributos()">Siguiente</button>
        <button class="btn btn-default" style="float:left" onclick="volverProd('datosCategoria')">Anterior</button>
    </div>
</section>

<script id="atributos-template" type="text/x-template">
    {{#Atributos}}
    <div class="form-horizontal">
    {{>atributoItem}}
    </div>
    {{/Atributos}}
</script>

<script id="atributoItem" type="text/x-template">
    {{#esBool}}
    <div class="form-group">
        <label for="input-{{clave}}" class="col-sm-2 control-label">{{etiqueta}}</label>
        <select class="form-control" id="input-{{clave}}" style="margin-left: 15px; width: 10%; display: inline;">
            <option>Si</option>
            <option>No</option>
        </select>
    </div>
    {{/esBool}}
    {{^esBool}}
    <div class="form-group">
        <label for="input-{{clave}}" class="col-sm-2 control-label">{{etiqueta}}</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="input-{{clave}}">
        </div>
    </div>
    {{/esBool}}
</script>
