@{
    ViewBag.Title = "Menu de usuario";
    var usuario = ViewBag.usuario;
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        @usuario.UsuarioID
    </dl>

    @Html.ActionLink("Crear subasta!", "Index", "Product", routeValues: null, htmlAttributes: new { title = "Crear subasta" })
</div>
