<br /><br />
<h2>Crear Categorías :</h2>
<br /><br />
<div class="input-group">
    <span class="input-group-addon">Nombre :</span>
    <input type="text" id="nombreCategoria" class="form-control" placeholder="Nombre de la Categoría">
</div>
<br /><br />
<button class="btn btn-success" onclick="agregarCategoria()">Agregar Categoría</button>
<br /><br />
<div id="divCategorias" class="categorias">
    
</div>

<br /><br />
<button class="btn btn-success" onclick="finalizarCrecionCategorias()">Guardar Categorías</button>