<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="datosGenerales()">Datos Generales&nbsp;&nbsp;<span class="badge pull-right">1</span></button>
    <button type="button" class="btn btn-success" onclick="crearCategorias()">Categorías&nbsp;&nbsp;<span class="badge pull-right">2</span></button>
    <button type="button" class="btn btn-warning" onclick="crearTiposAtributo()">Tipos de Atributo&nbsp;&nbsp;<span class="badge pull-right">3</span></button>
    <button type="button" class="btn btn-danger" onclick="crearPersonalizacion()">Personalización&nbsp;&nbsp;<span class="badge pull-right">4</span></button>
</div>

<div id="contenidoCrearTienda" class="contenidoCrearTienda">

</div>

<button type="button" class="btn btn-primary" onclick="finalizarCrearTienda()">Crear Tienda</button>