<br /><br />
<h2>Crear Tipos de Atributo :</h2>
<br /><br />
<div class="input-group">
    <span class="input-group-addon">Nombre :</span>
    <input type="text" id="nombreTipoAtributo" class="form-control" placeholder="Nombre del Tipo de Atributo">
</div>
<br /><br />
<button class="btn btn-success" onclick="agregarTipoAtributo()">Agregar Tipo de Atributo</button>
<br /><br />

<div id="divTiposAtributo" class="categorias">

</div>