<br><br>
<h2>Datos Generales de la Tienda :</h2>
<br /><br />
<div class="input-group">
    <span class="input-group-addon">Título :</span>
    <input type="text" id="tituloTienda" class="form-control" placeholder="Título de la tienda">
</div>
<br><br>
Descripción :<br>
<textarea id="descripcionTienda" class="form-control" placeholder="Descripción de la tienda"></textarea>
<br /><br />
<button class="btn btn-success" onclick="finalizarDatosGenerales()">Guardar Datos Generales</button>