/* ================
    Estilo "Violeta" y fonts blancas
   ================ */

.header-container {
    border-bottom: 20px solid #63589F;
}

.footer-container,
.main aside {
    border-top: 20px solid #63589F;
}

.header-container,
.footer-container,
.main aside {
    background: #65649F;
}

.title {
    color: white;
}

nav a {
    color: white;
    background: #63589F;
}

.product-item {
  border: 2px solid #63589F;
}

.product-item-header {
    background: #63589F;
}

.product-item-countdown {
    background: #63589F;
}

.product-user-winner {
    background: #63589F;
}

.offer-section {
    border: 2px solid #63589F;
}

.offer-section-price {
    background: #65649F;
}

.offer-section-button {
    background: #63589F;
}