
<div class="body">
    <div>
        <h1>Subir Algoritmo de Recomendación</h1>
    </div>

    <input type="file" style="width : 100%;" multiple="multiple" name="uploadFiles" id="archivo" />

    <br /><br />

    <button class="btn btn-primary" onclick="subirArchivoAlgoritmoRecomendacion()">Subir Algoritmo de Recomendación</button>
</div>

