<br /><br />
<h2>Crear Personalización :</h2>
<br /><br />
<div class="alert alert-info">
    Elija la personalización que desee en la lista de opciones inferior.
</div>
<br /><br />
<h3>Seleccione el color de la Tienda</h3>
<br /><br />
<select class="form-control" id="colorTienda">
    <option value="1">Naranja</option>
    <option value="2">Violeta</option>
</select>

<button class="btn btn-primary" onclick="personalizar()">Guardar Personalización</button>

<div id="divPersonalizacion">

</div>
