<br /><br />
<h2>Crear Personalización :</h2>
<br /><br />
<div class="alert alert-info">
    Elija la personalización que desee en la lista de opciones inferior.
</div>
<button class="btn btn-success" onclick="$('#seleccionarAtributosEstilo').hide(); $('#imagenFondoDiv').hide(); $('#seleccionarEstilos').show();">Elegir estilo</button>&nbsp;&nbsp;
<button class="btn btn-danger" id="botonColores" onclick="$('#seleccionarEstilos').hide(); $('#imagenFondoDiv').hide(); $('#seleccionarAtributosEstilo').show();">Elegir personalización</button>&nbsp;&nbsp;
<button class="btn btn-primary" id="botonImagen" onclick="$('#seleccionarEstilos').hide(); $('#seleccionarAtributosEstilo').hide(); $('#imagenFondoDiv').show();" style="display : none;">Subir Imagen de Fondo</button>
<br /><br /><br /><br />
<div id="seleccionarEstilos" style="display : block;height: 350px;">

    <div id="estilos" style="height : 100%;">
        <div id="estilos" style="height : 100%;">
            <div id="estiloUno" style="height : 100%;width : 50%;background-color : blue; float:left;">
                <h4 style="color: white;font-family:cursive;" id="tituloEstiloUno">Estilo Uno</h4>
                <img src="../Images/estilo1.png" style="width : 80%; height : 75%;margin-right:10%;margin-left:10%;" onclick="cambiarEstilo(1)" />
            </div>
            <div id="estiloDos" style="height : 100%;width : 50%;background-color : transparent;float:right;">
                <h4 style="color: red;font-family:cursive;" id="tituloEstiloDos">Estilo Dos</h4>
                <img src="../Images/estilo2.png" style="width : 80%; height : 75%;margin-right:10%;margin-left:10%;" onclick="cambiarEstilo(2)" />
            </div>


        </div>
    </div>

</div>
<br /><br />
<div id="seleccionarAtributosEstilo" style="display : none;">
    <div id="estiloUno">
        <h3>Seleccione el color primario de la Tienda</h3>
        <input type="color" id="colorPrimario" class="form-control" onchange="clickColor(0, -1, -1, 5)" value="#ff0000">
        <br /><br />
        <h3>Seleccione el color secundario de la Tienda</h3>
        <input type="color" id="colorSecundario" class="form-control" onchange="clickColor(0, -1, -1, 5)" value="#ff0000">
    </div>

    
</div>

<div id="imagenFondoDiv" style="display : none">
    <div id="estiloDos">
        <div>
            <h3>Subir Imagen de Fondo</h3>
        </div>

        <input type="file" style="width : 100%;" multiple="multiple" name="uploadFiles" id="imagenFondo" />
    </div>
</div>


<br /><br />
<button class="btn btn-primary" onclick="personalizar()">Guardar Personalización</button>

<div id="divPersonalizacion">

</div>
