<!DOCTYPE html>
<!-- saved from url=(0030)http://localhost:56094/TestURL -->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content2/" rel="stylesheet">
    <link href="~/Content2/jquery-ui.css" rel="stylesheet">
    <link href="~/Content2/jquery.ui.chatbox.css" rel="stylesheet">
    <link href="~/Content2/sections/main/main.css" rel="stylesheet">
    <link href="~/Content2/sections/producto/InfoProducto.css" rel="stylesheet">
    <link href="~/Content2/bootstrap.css" rel="stylesheet">
    <link href="~/Content2/normalize.min.css" rel="stylesheet">
    <link href="~/Content2/product_item.css" rel="stylesheet">
    <link href="~/Content2/personalizacion/EstiloUno/orangeStyle.css" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--  Header  -->
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title"><a href="#">TestURL</a></h1>
            <section id="login">
                <nav>
                    <ul>
                        <li><a href="#" id="loginLink">Log in</a></li>
                    </ul>
                </nav>
            </section>
        </header>
    </div> <!-- #header-container -->
    <!--  Body  -->
    <div class="main-container">
        <div class="main wrapper clearfix">
            <section class="content-wrapper main-content clear-fix">


                <div class="row">
                    <div class="product-item">
                        <a href="#">
                            <div class="product-item-header">Laptop</div>
                        </a>
                        <div class="c-wrapper">
                            <div id="myCarousel-2" class="carousel slide">
                                <!-- SE ARMA EL VISOR -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="./TestURL_files/wat.png">
                                    </div>
                                    <div class="item">
                                        <img src="./TestURL_files/wat2.jpg">
                                    </div>
                                    <div class="item active">
                                        <img src="./TestURL_files/700x400">
                                    </div>
                                </div>
                                <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                                <a class="left carousel-control" href="#" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-item-footer">
                            <div class="product-item-countdown" data-id="2">10m 13d 05:31:25</div>
                            <button class="btn btn-success bid-button disabled" title="Inicia sesión para ofertar."> OFERTAR! </button>
                            <div class="offer-section">
                                <div class="offer-section-price" id="bidValue-2"> 1000 </div>
                                <button class="offer-section-button"> + </button>
                            </div>
                            <div class="product-user-winner">
                                <p id="userIdGanador-2"></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <div class="product-item-header">Laptop</div>
                        </a>
                        <div class="c-wrapper">
                            <div id="myCarousel-12" class="carousel slide">
                                <!-- SE ARMA EL VISOR -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="./TestURL_files/wat.png">
                                    </div>
                                    <div class="item">
                                        <img src="./TestURL_files/wat2.jpg">
                                    </div>
                                    <div class="item active">
                                        <img src="./TestURL_files/700x400">
                                    </div>
                                </div>
                                <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                                <a class="left carousel-control" href="#" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-item-footer">
                            <div class="product-item-countdown" data-id="12">10m 13d 05:31:25</div>
                            <button class="btn btn-success bid-button disabled" title="Inicia sesión para ofertar."> OFERTAR! </button>
                            <div class="offer-section">
                                <div class="offer-section-price" id="bidValue-12"> 1000 </div>
                                <button class="offer-section-button"> + </button>
                            </div>
                            <div class="product-user-winner">
                                <p id="userIdGanador-12"></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <div class="product-item-header">Televisión</div>
                        </a>
                        <div class="c-wrapper">
                            <div id="myCarousel-13" class="carousel slide">
                                <!-- SE ARMA EL VISOR -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="./TestURL_files/wat.png">
                                    </div>
                                    <div class="item">
                                        <img src="./TestURL_files/wat2.jpg">
                                    </div>
                                    <div class="item active">
                                        <img src="./TestURL_files/700x400">
                                    </div>
                                </div>
                                <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                                <a class="left carousel-control" href="#" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-item-footer">
                            <div class="product-item-countdown" data-id="13">3m 22d 05:31:25</div>
                            <button class="btn btn-success bid-button disabled" title="Inicia sesión para ofertar."> OFERTAR! </button>
                            <div class="offer-section">
                                <div class="offer-section-price" id="bidValue-13"> 750 </div>
                                <button class="offer-section-button"> + </button>
                            </div>
                            <div class="product-user-winner">
                                <p id="userIdGanador-13"></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <div class="product-item-header">Televisión</div>
                        </a>
                        <div class="c-wrapper">
                            <div id="myCarousel-3" class="carousel slide">
                                <!-- SE ARMA EL VISOR -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="./TestURL_files/wat.png">
                                    </div>
                                    <div class="item active">
                                        <img src="./TestURL_files/wat2.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="./TestURL_files/700x400">
                                    </div>
                                </div>
                                <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                                <a class="left carousel-control" href="#" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-item-footer">
                            <div class="product-item-countdown" data-id="3">3m 22d 05:31:25</div>
                            <button class="btn btn-success bid-button disabled" title="Inicia sesión para ofertar."> OFERTAR! </button>
                            <div class="offer-section">
                                <div class="offer-section-price" id="bidValue-3"> 160 </div>
                                <button class="offer-section-button"> + </button>
                            </div>
                            <div class="product-user-winner">
                                <p id="userIdGanador-3">otroUserPrueba</p>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    div.c-wrapper {
                        width: auto;
                        margin: auto;
                    }

                    .carousel-inner > .item > img,
                    .carousel-inner > .item > a > img {
                        width: auto;
                        height: 170px;
                        margin: auto;
                    }
                </style>
        </section>
    </div> <!-- #main -->
    </div> <!-- #main-container -->
    <!--  Footer  -->
    <div class="footer-container">
        <footer class="wrapper">
            <h3>Chebay - Todos los derechos reservados.</h3>
        </footer>
    </div> <!-- #footer-container-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="Scripts/jquery-1.11.2.min.js"><\/script>')</script> -->
    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"846d6498533146518546a4e0417b066f"}
    </script>
    <script type="text/javascript" src="./TestURL_files/browserLink" async="async"></script>
    <!-- End Browser Link -->

    <div><div class="sweet-overlay" tabindex="-1"></div><div class="sweet-alert" tabindex="-1"><div class="icon error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="icon warning"> <span class="body"></span> <span class="dot"></span> </div> <div class="icon info"></div> <div class="icon success"> <span class="line tip"></span> <span class="line long"></span> <div class="placeholder"></div> <div class="fix"></div> </div> <div class="icon custom"></div> <h1>Title</h1><p class="lead text-muted">Text</p><p><button class="cancel btn btn-default btn-lg" tabindex="2">Cancel</button> <button class="confirm btn btn-lg" tabindex="1">OK</button></p></div></div>
</body>
</html>
