@{
    var Categoria = ViewData["Categoria"];
}


<section id="seccion-compararProductos">
    <i class="fa fa-spinner fa-pulse fa-2x" style="margin-left: 46%; margin-top: 15px"></i>
</section>

<style>
    .prodDerecha{
        width : 45%;
        height : 90%;
        float : left;
    }

    .prodIzquierda{
        width : 45%;
        height : 90%;
        float: right;
    }
</style>

<script id="comparar-template" type="text/x-template">
    <h4> Productos similares: </h4>
    <ul class="list-group">
        {{#Productos}}
        <li class="list-group-item" style="cursor: pointer;" data-prodid="{{ProductoID}}" onclick="cargarModal({{ProductoID}})">{{nombre}}</li>
        {{/Productos}}
    </ul>
</script>

<!-- Modal Comparar productos -->
<div class="modal fade modal-lg" id="modalCompararProd" tabindex="-1" role="dialog" aria-labelledby="modalCompararProd" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-footer" id="compararProductosBody">
                
            </div>
        </div>
    </div>
</div>


<script>
    var productId = $('.infoProducto-container').data("key");

    $('#myTab a[href="#comparar"]').click(function (e) {
        var prodId = $('.infoProducto-container').data("key");
        var catId = "@Categoria"
        $(this).tab('show');
        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerJsonProductosCategoria", "Product")",
            data: {
                catId : catId
            },
            accept: 'application/json',
            success: function (data) {
                console.log(data);
                var templateComparar = $('#comparar-template').html();
                Mustache.parse(templateComparar);
                var viewObject = {
                    Productos: data.Productos
                };
                var rendered = Mustache.render(templateComparar, viewObject);
                $('#seccion-compararProductos').html(rendered);

            },
            error: function (error) {
                console.log(error);
                sweetAlert("Oops...", "Algo va mal con el servidor!", "error");
            }
        });
    });

    cargarModal = function (prodId2) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ObtenerComparacionProductos", "Product")",
            data: {
                prod1Id : productId,
                prod2Id : prodId2
            },
        accept: 'application/json',
        success: function (data, textStatus, jqxhr) {
            $("#compararProductosBody").html(data["Message"]);
            $('#modalCompararProd').modal('show');

        },
        error: function (data, textStatus, jqxhr) {
            console.log(error);
            sweetAlert("Oops...", "Algo va mal con el servidor!", "error");
        }
    });
        
        //$('#compararProductosBody').html("Queres comparar " + prodId2 + " con " + productId)
    }
</script>