

<section id="seccion-geolocalizacion">
    Geolocalizacion del producto<br />
    <div id="mapa">

    </div>
</section>

<script>
    var mapa,
        longitud,
        latitud;

    $(document).ready(function () {
        debugger;
        longitud = $('.infoProducto-container').data("longitud"),
        latitud = $('.infoProducto-container').data("latitud");
                    
        mapa = new GMaps({
            el: '#mapa',
            lat: latitud,
            lng: longitud,
            width: '100%',
            height: '400px',
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });
        mapa.addMarker({
            lat: latitud,
            lng: longitud,
            draggable: false,
            infoWindow: {
                content: '<p>El producto se ubica aquí</p>'
            }
        });
    });

    $('#myTab a[href="#localizacion"]').click(function (e) {
        mapa.setCenter(latitud, longitud);
    });

</script>
