@{
    ViewBag.Title = "Menu de usuario";
    var categorias = ViewBag.categoriaRaiz;
    var nombreTienda = @Session["Tienda_Nombre"]; 
}

<div>
    <h4>Crear Producto</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <button class="btn btn-primary" onclick="datosProd()">Formulario datos producto</button>

    <div id="datosProducto">

    </div>

    <hr />
    <dl class="dl-horizontal"></dl>

    <button class="btn btn-primary" onclick="datosCat()">Seleccionar una categoría</button>

    <div id="datosCategoria">

    </div>

    <hr />
    <dl class="dl-horizontal"></dl>
    <button class="btn btn-success" onclick="confirmarProducto()">CONFIRMAR PRODUCTO</button>

</div>

<script>
    datosProd = function () {
        $('#datosProducto').addClass('animated fadeInLeft');
        $('#datosProducto').load('/' + '@nombreTienda' + '/Product/DatosProducto')
    }

    datosCat = function () {
        $('#datosCategoria').addClass('animated fadeInLeft');
        $('#datosCategoria').load('/' + '@nombreTienda' + '/Product/ObtenerCategorias')
    }

    confirmarProducto = function () {
        console.log("Datos de producto: ");
        var datosProducto = JSON.parse(localStorage.getItem("DatosProducto"));
        console.log(datosProducto);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create")",
            data: datosProducto,
            accept: 'application/json',
            success: function (data) { 
                swal("éxito!", "Iniciaste una nueva subasta!", "success");
            },
            error: function (error) {
                swal("Oops...", "No se pudo crear el nuevo producto: " + error, "error");
            }
        });
    }

</script>