@{
    var Producto = ViewBag.InfoProducto;
    var nombreTienda = @Session["Tienda_Nombre"]; 
}

<div>
    <div class="infoProducto-top">
        <div class="infoProducto-left">
            PARTE IZQUIERDA
        </div>
        <div class="infoProducto-right">
            <div class="infoProducto-data">
                <div class="infoProducto-data-content">
                    DATOS
                </div>
            </div>
            <div class="infoProducto-ofertas">
                OFERTAS
            </div>
        </div>
    </div>
    <div class="infoProducto-atributos">

    </div>

    <div class="infoProducto-comentarios">

    </div>
   
</div>

<script>

</script>