@{
    ViewBag.Title = "Menu de usuario";
    var categorias = ViewBag.categoriaRaiz;
    var nombreTienda = @Session["Tienda_Nombre"]; 
}

<div>
    <h4>Crear Producto</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <button class="btn btn-default" onclick="datosProd()">DATOS PRODUCTO</button>

    <div id="datosProducto">

    </div>

    <hr />
    <dl class="dl-horizontal"></dl>

    <button class="btn btn-default" onclick="datosCat()">DATOS CATEGORIA</button>

    <div id="datosCategoria">

    </div>

    <hr />
    <dl class="dl-horizontal"></dl>
    <button class="btn btn-success" onclick="confirmarProducto()">CONFIRMAR PRODUCTO</button>

</div>

<script>
    datosProd = function () {
        $('#datosProducto').addClass('fadeInLeft');
        $('#datosProducto').load('/' + '@nombreTienda' + '/Product/DatosProducto')
    }

    datosCat = function () {
        $('#datosCategoria').addClass('fadeInLeft');
        $('#datosCategoria').load('/' + '@nombreTienda' + '/Product/ObtenerCategorias')
    }

    confirmarProducto = function () {
        console.log("Datos de producto: ");
        var datosProducto = JSON.parse(localStorage.getItem("DatosProducto"));
        console.log(datosProducto);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create")",
            data: datosProducto,
            accept: 'application/json',
            success: function (data) { 
                alert('SUCCESS: ' + data); 
            },
            error: function (error) {
                alert('ERROR: ' + error);
            }
    });
    }

</script>