<h2>Registrate en Che-Buy</h2>
E-mail :
<input type="text" class="form-control" id="mailRegistro" placeholder="Ingresa tu E-mail" /><br />
Password :
<input type="password" class="form-control" placeholder="Ingresa tu Password"><br />

<br />
<input type="button" class="btn btn-success" value="Confirmar" onclick="ConfirmarRegistro()"/>